<div class="container">
  <div class="d-flex justify-content-center p-5">
    <h1>LISTS</h1>
  </div>

  <% @lists.each do |list| %>
    <p> <%= link_to list.name, list_path(list) %> </p>
  <% end %>

  <p>
    <%= link_to "Create new list", new_list_path %>
  </p>





</div>
